<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" style="font-size:65px;"class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" style="padding-left:0;"><img style="height:3em;padding-top:8px;"src="https://thelamc.org/images/menu-icons/Menu-icon-home.png"></a>
  <a *ngIf="value" style="color:white" class="wname1">{{ "Welcome "+value}}</a>
  <div style="padding-left:10px;padding-right:10px;">
  <h2><b>CATEGORIES</b></h2>
         <details *ngFor="let category of categories" style="padding-top: 10px;">
            <summary (click)="onSelect(category.x)"><b>{{category.x | uppercase}}</b></summary>
            <ul *ngFor="let cat of category.y" style="list-style: none">
               <li  (click)="onSelect(cat)" onclick="closeNav()">{{cat}}</li>
            </ul>
            <hr style="padding-left: 10px;">
         </details>
         <br>
         <hr  style="padding-left: 10px;">
         </div>
         <footer on-mouseover="badge()" (click)="badge()">
   <div>
      <a style="font-size:24px;width:100%" href="#">
        <i class="fa fa-facebook-square fa-3x social"></i>
      <i class="fa fa-twitter-square fa-3x social"></i>
      <i class="fa fa-google-plus-square fa-3x social"></i>
      <i class="fa fa-envelope-square fa-3x social"></i></a>
   </div>
</footer>
</div>
<div id="main">

<header>
      <nav id="test">
        <div class="logo" >
          <a href="#" style="color:white">{{name1}}</a>
        </div>
        <div class="icon">
          <span onclick="openNav()" class="toggle">&#9776;</span>
        </div>
        <form class="form1" role="search" >
            <div class="form-group">
               <input size="15"type="text" class="form-control" #refsearch placeholder="Search">
            
            <button type="submit" class="btn btn-default" (click)="onmatch(refsearch.value)"><img style="width:15px;height:15px" src="http://www.iconsdb.com/icons/preview/black/search-3-xxl.png" alt="search"></button>
         </div>
         </form>
        <ul class="list-item">
            <li routerLink="/cart" ><img src="http://www.iconsdb.com/icons/preview/white/shopping-cart-xxl.png" style="width:20px;height:20px"><sup class="badge" style="color:pink">{{cart.length}}</sup></li>
            <li *ngIf="value" style="color:blue" class="wname"><a>{{ "Welcome "+value}}</a></li>
            <li *ngIf="!value"><button class="btn btn-primary" (click)='Login()'>Login</button></li>
            <li *ngIf="value"><a style="padding:0" href="/Home"><button class="btn btn-primary" (click)='logout()'>Logout</button></a></li>
        </ul>
      </nav>
</header>



<login-form [raw]="raw" [emp]="emp" (onComp)="onComp($event)"></login-form>
<div  class="container-fluid" on-mouseover="badge()" (click)="badge()">
   <div class="row " >
      <div class="col-md-2 col-lg-2 category sidebar  force-overflow " id="style-3" style="box-shadow: 8px 0 6px #aaaaaa;">
        
         <h2><b>Categories</b></h2>
         <hr>
         <details *ngFor="let category of categories" style="padding-bottom: 10px;">
            <summary (click)="onSelect(category.x)"><b>{{category.x | uppercase}}</b></summary>
            <ul *ngFor="let cat of category.y" style="list-style: none">
               <li  (click)="onSelect(cat)" >{{cat}}</li>
            </ul>
            <hr>
         </details>
         <br>
      </div>
      <div class="col-md-8 col-lg-8 force-overflow category"  id="style-3" style="box-shadow: 0 0 6px #aaaaaa;padding-right: 0px;padding-top:5px; overflow-x:hidden;">
    <router-outlet class=" force-overflow"  id="style-2" (click)="badge()"></router-outlet>
      </div>
    <div on-mouseover="badge()" (click)="badge()" *ngIf="check()" class="col-md-2 col-lg-2 force-overflow" id="style-2"  style="height: 81.75vh;box-shadow:0px 0 6px #aaaaaa;">
         <h2 id="ad"><a routerLink="/Flashdeals" routerLinkActive="active"> <b>Flash Deals!</b></a></h2>
         <hr>

                    


         
         <div class="modal" id="myModal2">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Kids Dress</h4>
                  </div>
                  <div class="modal-body col-md-12">
                     <div >
                        <div class="col-md-6">
                           <img src="https://ae01.alicdn.com/kf/HTB1pWBJMpXXXXblXXXXq6xXFXXX0/Spring-2017-girls-Plaid-dress-brand-font-b-children-s-b-font-clothing-kids-dresses-for.jpg" alt="book" class="img-res"  >
                        </div>
                        <div class="col-md-6" *ngFor="let data of data|slice:0:1; let i = index;">
                           <p><em><b>Name:</b></em>{{data.name}}
                           <p>
                           <p><em><b>Price:</b></em>{{data.price | currency:'INR'}}
                           <p>
                           <p><em><b>Color:</b></em>{{data.color}}
                           <p>
                           <p><em><b>Description: </b></em>{{data.desc}}</p>
                            <div >
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="add(data)">Add to Cart</button>
                  </div>
                        </div>
                     </div>
                  </div>
                  
                 
               </div>
            </div>
         </div>
        
        
         <div>
               <img data-toggle="modal" data-target="#myModal2" class="img-res" src="https://ae01.alicdn.com/kf/HTB1pWBJMpXXXXblXXXXq6xXFXXX0/Spring-2017-girls-Plaid-dress-brand-font-b-children-s-b-font-clothing-kids-dresses-for.jpg">
                <p style="text-align:center"><b>Kid's dress</b></p>

         </div>
         
         <div data-toggle="modal" data-target="#myModal" >
               <img class="img-res" src="http://www.minibazar.in/wp-content/uploads/rado-shine-black.jpg">
                           <p style="text-align:center"><b>Men's  watch</b></p>

         </div>      
      </div>
      <div *ngIf="check()==false" class="col-md-2" ><img class="img-res" style="height:35em" src="https://www.adlabz.com/adnetwork/uploads/Thd1wm_300x250-online-shopping-with-Best%20Deals-offers.gif"></div>
      
         <div class="modal" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Men's Watch</h4>
                  </div>
                  <div class="modal-body col-md-12">
                     <div >
                        <div class="col-md-6">
                           <img src="http://www.minibazar.in/wp-content/uploads/rado-shine-black.jpg" alt="book" class="img-res"  >
                        </div>
                        <div class="col-md-6" *ngFor="let data of data|slice:1:2; let i = index;">
                           <p><em><b>Name:</b></em>{{data.name}}
                           <p>
                           <p><em><b>Price:</b></em>{{data.price | currency:'INR'}}
                           <p>
                           <p><em><b>Color:</b></em>{{data.color}}
                           <p>
                           <p><em><b>Description: </b></em>{{data.desc}}</p>
                            <div >
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="add(data)">Add to Cart</button>
                  </div>
                        </div>
                     </div>
                  </div>
                  
                 
               </div>
            </div>
         </div>
      
     
   </div>

</div>
<footer class="footer1" on-mouseover="badge()" (click)="badge()">
   <div class="text-right center-block" style="padding-right: 32px; text-align: center">
      <a href="#"><i class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="#"><i class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="#"><i class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="#"><i class="fa fa-envelope-square fa-3x social"></i></a>
   </div>
</footer>
</div>