<div class="user"style="background-color:white">
    </div>
<div *ngIf="raw || emp==false" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form #userform="ngForm" (ngSubmit)="onSubmit(userform.value)"> 
                <div  class="form-group" >
                <label>Username:</label>
                <input type="text" #nameref="ngModel" class="form-control user" name="name" ngModel required minlength="4">
                <div *ngIf="nameref.errors && (nameref.dirty || nameref.touched)" class="alert alert-danger">
                    <div [hidden]="!nameref.errors.required">Please enter the Username</div>
                    <div [hidden]="!nameref.errors.minlength">Please enter 4 character username</div>
                </div>
                </div>
                <div class="form-group" >
                <label>Password:</label>
                <input type="password" #namepass="ngModel" class="form-control" name="password" ngModel required>
                <div *ngIf="namepass.errors && (namepass.dirty || namepass.touched)" class="alert alert-danger">
                    <div [hidden]="!namepass.errors.required">Please enter the password</div>
                </div>
                </div>
                <br>
                <button class="btn btn-success" [disabled]="!userform.form.valid" (click)="call(nameref.value,namepass.value)">Login</button>
                <br>
                <br>
            </form>
            
        </div>
    </div>
</div>